---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import LogoStrip from '../components/LogoStrip.astro';
import Philosophy from '../components/Philosophy.astro';
import Ticker from '../components/Ticker.astro';
import BentoGrid from '../components/BentoGrid.astro';
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Distribution Labs | Storytelling">
	<main>
		<Hero />
		<LogoStrip />
		<Philosophy />
		<Ticker />
		<BentoGrid />
		<About />
		<Footer />
	</main>
</Layout>
